h1 {
	background-color : White;
	color : Black;
	font : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : larger;
	text-align : left;
}
BODY {
	color : Black;
	background-color : White;
	font : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : x-small;
	text-align : left;
}

A {
	color : #00008B;
	text-decoration : none;
}

A:HOVER {
	color : #B22222;
	text-decoration : underline;
}